html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #1a1a1a);;
}

.logo{
    height: 80px;
    border-radius: 240px;
}
.logo {
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scaleX(-1);
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 20px;
  width: fit-content;
  margin: 10px auto;
  backdrop-filter: blur(30px);
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.726);
  z-index: 100;
}

.santa-hat {
    position: absolute;
    width: 70px; 
    height: auto;
    top: -25px;      
    left: -15px;     
    z-index: 10;
}
.navbar:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}
.navbar-ul{
  display: flex;
  font-family: 'bebas neue', sans-serif;
  border-radius: 100px;
  font-weight: 550;
  margin: 0;
  padding: 0;
}
.navbar-ul li{
  list-style: none;
  padding: 25px 25px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all 0.1s ease;
  border-radius: 40px;
  padding: 10px 10px;
}
.navbar ul li a:hover {
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}
