html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #1a1a1a);;
}

.logo{
    height: 80px;
    border-radius: 240px;
}
.logo {
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scaleX(-1);
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 20px;
  width: fit-content;
  margin: 10px auto;
  backdrop-filter: blur(30px);
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.726);
  z-index: 100;
}

.navbar:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}
.navbar-ul{
  display: flex;
  font-family: 'bebas neue', sans-serif;
  border-radius: 100px;
  font-weight: 550;
  margin: 0;
  padding: 0;
}
.navbar-ul li{
  list-style: none;
  padding: 25px 25px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all 0.1s ease;
  border-radius: 40px;
  padding: 10px 10px;
}
.navbar ul li a:hover {
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}
.gallery-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;

}
.gallery-title{
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 40px;
    font-style: italic;
    font-family: 'bebas neue', sans-serif;
}
.imgcontainer {
    display: flex;
    flex-direction: row;     
    justify-content: center; 
    align-items: center;      
    flex-wrap: wrap;           
    gap: 20px;                 
    width: 100%;               
    margin-top: 30px;
}

.imgcontainer img {
    height: 400px;       
    width: auto;               
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.footer {
    background: linear-gradient(135deg, #000000, #1a1a1a);
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 23px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgba(255, 255, 255, 0.726);
    margin-top: 100px;
    font-family: 'bebas neue', sans-serif;
}
.creds {
    font-size: 15px;
}
.fa-facebook {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 20%;
  text-decoration: none;
}
.fa-instagram {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 20%;
  text-decoration: none;
}
.fa-phone {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 20%;
  text-decoration: none;
}
