html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #1a1a1a);;
}
.img-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.logo{
    height: 80px;
    border-radius: 240px;
}
.logo {
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scaleX(-1);
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 20px;
  width: fit-content;
  margin: 10px auto;
  backdrop-filter: blur(30px);
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.726);
  z-index: 100;
}


.navbar:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}
.navbar-ul{
  display: flex;
  font-family: 'bebas neue', sans-serif;
  border-radius: 100px;
  font-weight: 550;
  margin: 0;
  padding: 0;
}
.navbar-ul li{
  list-style: none;
  padding: 25px 25px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all 0.1s ease;
  border-radius: 40px;
  padding: 10px 10px;
}
.navbar ul li a:hover {
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}
.content{
  
    font-family: 'bebas neue', sans-serif;
    text-shadow: #000000 2px 2px 8px;
    text-align: center;
    color: white;
    margin-top: 250px;
    font-size: 30px;
}
.cssbuttons-io-button {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  font-family: 'bebas neue', sans-serif;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #000000;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin-left: auto;
    margin-right: auto;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.1em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #000000;
  right: 0.3em;
  transition: all 0.25s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #000000;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.main{
    margin-top: 550px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-shadow: #000000 2px 2px 8px;
    background-color: #000000;
    
}
.cards-section {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  margin: 100px 50px 6 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.card-container {
  text-align: center;
  background-color: #ffffff;
  margin-top: 550px;
}
.card {
  width: 250px;
  height: 354px;
  background: #201f1f;
  position: relative;
  margin: 70px;
  margin-top: 40px;
  display: inline-flex; 
  vertical-align: top;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 2s ease;
}

.card:hover::before {
  width: 300%;
  height: 200%;
  
}


.card h2 {
  z-index: 1;
  color: white;
  margin-top: -230px;
  font-size: 30px;
  font-family: 'bebas neue', sans-serif;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 255, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: rgb(32, 32, 32);
  inset: 5px;
  border-radius: 15px;
}
.card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3;
}
.h1-card {
    font-family: 'bebas neue', sans-serif;
    color: white;
    text-shadow: #000000 2px 2px 8px;
    padding-top: 40px;
    font-size: 58px;
}
.aboutuscontainer{
    margin-top: 140px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    text-align: center;
    font-family: 'bebas neue', sans-serif;
    color: white;
    font-size: 32px;
    text-shadow: #000000 2px 2px 8px;
}

.about-us-text{
    max-width: 1000px;
}
.h2ourteam{
    font-family: 'bebas neue', sans-serif;
    font-size: 58px;
    margin-bottom: 20px;
}

.trainers{
    justify-content: center;
    width: 201px;
    height: auto;
    background: linear-gradient(135deg, #000000a9, #1a1a1a);
    display: inline-block;
    margin: 31px;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    outline: #ffffff 2px solid;
}
.trainers:hover{
    transform: scale(1.07);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;

}

.h1-pricing {
  font-family: 'bebas neue', sans-serif;
  color: white;
  text-shadow: #000000 2px 2px 8px;
  font-size: 58px;
  margin-bottom: 20px;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}
.pricing-section {
  margin: 100px 50px 100px 50px;
  text-align: center;
  font-size: 20px;
  
}

.card2{
  margin-top: 70px;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 1);
  padding: 3rem;
  background: linear-gradient(135deg, #000000a9, #1a1a1a);
  outline: white 2px solid;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-wrap: wrap;
}

.price {
  
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-shadow: #000 1px 1px 4px;
}

.lists {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.75rem;
  row-gap: 0.75rem;
  font-size: 1.5rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 1);
  
}

.list {
  display: flex;
  align-items: center;
}

.list svg {
  height: 1rem;
  width: 1rem;
}

.list span {
  margin-left: 0.7rem;
}


.action {
  margin-top: 2.5rem;
  display: inline-block;
  width: 80%;
  border: 2px solid  rgba(255, 255, 255, 1);
  border-radius: 9999px;
  background-color: #1a1a1a;
  padding: 0.8rem 1rem;
  font-weight: 500;
  text-align: center;
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all .2s ease;
  font-size: 1.70rem;
}

.action:hover {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}
.footer {
    background: linear-gradient(135deg, #000000, #1a1a1a);
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 23px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgba(255, 255, 255, 0.726);
    margin-top: 100px;
}
.creds {
    font-size: 15px;
}
.fa-facebook {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 20%;
  text-decoration: none;
}
.fa-instagram {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 20%;
  text-decoration: none;
}
.fa-phone {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 20%;
  text-decoration: none;
}
